In [1]:
#Warm-Up Exercise
import requests
import pandas as pd
api_url ="http://api.open-notify.org/astros.json"
response = requests.get(api_url)
if response.ok:
    data = response.json()

In [7]:
print(data.get('number'))

12

In [9]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 12 astronauts on ISS
And their names are :
Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

In [3]:
#Actual Lab
#Determine # of jobs currently open for various technologies and for various locations
#Los Angeles, New York, San Francisco, Washington DC, Seattle, Austin, Detroit
import pandas as pd
import json
#While using this lab I need to pass the payload info for the params attribute in the form of key value pairs
api_url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
def get_number_of_jobs_T(technology):
    payload={"Job Title": "","Job Experience Required": "", "Key Skills": technology,
             "Role Category": "", "Location": "", "Functional Area": "", "Industry": "", "Role": ""}
    r=requests.get(api_url,params=payload)
    data = r.json()
    number_of_jobs = sum(technology.lower() in job["Key Skills"].lower() for job in data)
    return number_of_jobs

In [5]:
def get_number_of_jobs_L(location):
    payload={"Job Title": "","Job Experience Required": "", "Key Skills": "",
             "Role Category": "", "Location": location, "Functional Area": "", "Industry": "", "Role": ""}
    r=requests.get(api_url,params=payload)
    data = r.json()
    number_of_jobs = sum(location.lower() in job["Location"].lower() for job in data)
    return location,number_of_jobs

In [9]:
from openpyxl import Workbook

In [41]:
tech_list = ['Python', 'Java', 'C++', 'C#', 'SQL']
wb=Workbook()
ws=wb.active
ws.title = "Number of Job Postings"
ws.append(["Technology", "Number of Jobs"])
for tech in tech_list:
    number_of_jobs = get_number_of_jobs_T(tech)
    ws.append([tech, number_of_jobs])

In [43]:
wb.save("job-postings.xlsx")

In [11]:
full_list = ["C","C#","C++","Java","JavaScript","Python","Scala","Oracle","SQL Server","MySQL Server","PostgreSQL","MongoDB"]
wb=Workbook()
ws=wb.active
ws.title = "Full Number of Job Postings"
ws.append(["Technology", "Number of Jobs"])
for tech in full_list:
    number_of_jobs = get_number_of_jobs_T(tech)
    ws.append([tech, number_of_jobs])

In [13]:
wb.save("all-job-postings.xlsx")