In [60]:
import pandas as pd
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(file_path)

In [68]:
print(df.shape[0]) #Number of rows
print(df.shape[1]) #Number of columns
print(df.dtypes) #Data types

65437
115
ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Midpoint Age           float64
Length: 115, dtype: object

In [66]:
df['Age'].unique()

array(['Under 18 years old', '35-44 years old', '45-54 years old',
       '18-24 years old', '25-34 years old', '55-64 years old',
       'Prefer not to say', '65 years or older'], dtype=object)

In [62]:
age_midpoints = {
    'Under 18 years old': 9,        # Midpoint of 0-18
    '18-24 years old': 21,         # Midpoint of 18-24
    '25-34 years old': 29.5,       # Midpoint of 25-34
    '35-44 years old': 39.5,       # Midpoint of 35-44
    '45-54 years old': 49.5,       # Midpoint of 45-54
    '55-64 years old': 59.5,       # Midpoint of 55-64
    '65 years or older': 70,       # Approximate midpoint for 65+
    'Prefer not to say': None      # Exclude from calculations
}
df['Midpoint Age'] = df['Age'].map(age_midpoints) #Mapped the object datatype Age to numerical values and created a new column
exclude_none = df.dropna(subset = ['Midpoint Age']) #Excluded Prefer not to say
mean_age = exclude_none['Midpoint Age'].mean() #Created a variable with the mean
mean_age

32.73180526760347

In [51]:
print(df['Country'].nunique()) #nunique prints the number of unique values in the column

185